<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <section>
            <h2>Байланышуу</h2>
            <form method="post" action="#">
                <div class="fields">
                    <div class="field half">
                        <input type="text" name="name" id="name" placeholder="Аты" />
                    </div>

                    <div class="field half">
                        <input type="text" name="email" id="email" placeholder="Email" />
                    </div>

                    <div class="field">
                        <input type="text" name="subject" id="subject" placeholder="Билдируу" />
                    </div>

                    <div class="field">
                        <textarea name="message" id="message" rows="3" placeholder="Кошумча"></textarea>
                    </div>

                    <div class="field text-right">
                        <label>&nbsp;</label>

                        <ul class="actions">
                            <li><input type="submit" value="Жиберуу" class="primary" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
        <section>
            <h2>Телефондор</h2>

            <ul class="alt">
                <li><span class="fa fa-envelope-o"></span> <a href="#">contact@company.com</a></li>
                <li><span class="fa fa-phone"></span> +996505 500 500 </li>
                <li><span class="fa fa-map-pin"></span>ОШ шаары Борбордук окуу борбору </li>
            </ul>

            <h2>Бизди издениз!!!</h2>

            <ul class="icons">
                <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
            </ul>
        </section>

        <ul class="copyright">
            <li>Copyright © 2020 Облустук башкармалык  </li>
        </ul>
    </div>
</footer>

</div>