<div id="wrapper">

    <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                    <a href="{% url 'index' %}" class="logo">
                        <span class="fa fa-book"></span> <span class="title">Жан дүйнө байлыгы</span>
                    </a>
                    <hr>
                <!-- Nav -->
                    <nav>
                        <ul>
                            <li><a href="#menu">Menu</a></li>
                        </ul>
                    </nav>

            </div>
        </header>