{% extends 'website/main.html' %}
{% block content  %}
{% include 'website/header.html' %}
{% include 'website/menu.html' %}
<!-- Main -->
{% load static %}
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Темалар</h1>

							<div class="image main">
								<img src="{% static 'images/banner-image-6-1920x500.jpg' %}" class="img-fluid" alt="" />
							</div>
							
							<div class="container-fluid">
								<div class="row">
									
									<div class="col">
										<div class="form-group">
				                            <h4>Теманы издоо</h4>
				                        </div>
										{% for i in topics %}
				                        <br>
				                        <p><a href="{% url 'topic_detail' i.id %}">{{i.name}}</a></p>
										{% endfor %}
				                        
									</div>
								</div>
							</div>
						</div>
					</div>

					{% include 'website/footer.html' %}
					{% endblock %}